.av-form-elements-av_site-checkbox       {display: flex}
.av-form-elements-av_site-checkbox label {cursor: pointer}
.av-form-elements-av_site-checkbox input {display: none}
.av-form-elements-av_site-checkbox input + label
	{
	background-image: url(images/checkbox_unchecked.png);
	background-size: cover;
	margin-right: 6px;
	width:  22px;
	height: 22px;
	}
.av-form-elements-av_site-checkbox input[checked] + label {background-image: url(images/checkbox_checked.png)}
.av-form-elements-av_site-checkbox input + label + label  {align-items: center;display: flex}